.margen-superior-main{
    margin-top: 40px;
    padding: 20px;
}

.texto-marca {
    color:rgb(141, 0, 0);
}

.color-verde-chocoyo{
    color: rgb(33, 141, 0)
}

.color-boton-registro {
    background-color: rgb(51, 218, 0);
    border-color: rgb(58, 206, 0);
}